

<div class="jumbotron">
	
  <h1 class="display-4">
  <h1>Nouveau Personnage</h1> 
  </h1>

<%= render 'form', personnage: @personnage %>

<%= link_to 'Back', personnages_path, class:"btn btn-dark"  %> 


</div>